<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.qualitymapper.FCountMapper">
    <resultMap id="BaseResultMap" type="com.ssm.bean.qualitybean.F_Count">
        <id column="f_count_check_id" jdbcType="VARCHAR" property="fCountCheckId" />
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="check_item" jdbcType="VARCHAR" property="checkItem" />
        <result column="sample" jdbcType="INTEGER" property="sample" />
        <result column="check_number" jdbcType="INTEGER" property="checkNumber" />
        <result column="unqualify" jdbcType="INTEGER" property="unqualify" />
        <result column="qualify" jdbcType="DECIMAL" property="qualify" />
        <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
        <result column="measure_data" jdbcType="VARCHAR" property="measureData" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="result" jdbcType="VARCHAR" property="result" />
        <result column="note" jdbcType="VARCHAR" property="note" />
    </resultMap>

    <select id="queryFCountList" resultMap="BaseResultMap">
        select m.f_count_check_id,m.order_id,m.check_item,m.sample,m.check_number,m.unqualify,m.qualify,m.cdate,m.measure_data,d.emp_name,m.result,m.note from final_count_check m
        left join employee d on m.emp_id = d.emp_id
    </select>

    <select id="queryFCountByCheckId" resultMap="BaseResultMap">
        select m.f_count_check_id,m.order_id,m.check_item,m.sample,m.check_number,m.unqualify,m.qualify,m.cdate,m.measure_data,d.emp_name,m.result,m.note from final_count_check m
        left join employee d on m.emp_id = d.emp_id
        where m.f_count_check_id like CONCAT('%',#{fCountCheckId},'%')
    </select>

    <select id="queryFCountByOrderId" resultMap="BaseResultMap">
         select m.f_count_check_id,m.order_id,m.check_item,m.sample,m.check_number,m.unqualify,m.qualify,m.cdate,m.measure_data,d.emp_name,m.result,m.note from final_count_check m
        left join employee d on m.emp_id = d.emp_id
        where m.order_id like CONCAT('%',#{orderId},'%')
    </select>

    <delete id="deleteFCount">
        delete from final_count_check where f_count_check_id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="upadteFcount">
     update final_count_check set order_id = #{orderId},
                                   check_item = #{checkItem},
                                   sample = #{sample},
                                   check_number = #{checkNumber},
                                   unqualify = #{unqualify},
                                   qualify = #{qualify},
                                   cdate = #{cdate},
                                  measure_data = #{measureData},
                                  emp_id = #{empId},
                                  result = #{result},
                                  note = #{note}

                                   where f_count_check_id = #{fCountCheckId}
  </update>

    <insert id="insertFCount">
    insert into final_count_check(f_count_check_id,order_id,check_item,sample,check_number,unqualify,qualify,cdate,measure_data,emp_id,result,note) values
   (#{fCountCheckId},
        #{orderId},#{checkItem},#{sample},
        #{checkNumber},#{unqualify},#{qualify},
        #{cdate},#{measureData},#{empId},#{result},#{note})
  </insert>
</mapper>