<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.qualitymapper.MeasureMapper">
    <resultMap id="BaseResultMap" type="com.ssm.bean.qualitybean.F_Measure">
        <id column="f_measure_check_id" jdbcType="VARCHAR" property="fMeasureCheckId" />
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="check_item" jdbcType="VARCHAR" property="checkItem" />
        <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
        <result column="measure_data" jdbcType="VARCHAR" property="measureData" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="result" jdbcType="VARCHAR" property="result" />
        <result column="note" jdbcType="VARCHAR" property="note" />
    </resultMap>

    <select id="queryMeasureList" resultMap="BaseResultMap">
        select m.f_measure_check_id,m.order_id,m.check_item,m.cdate,m.measure_data,d.emp_name,m.result,m.note from final_measuret_check m
        left join employee d on m.emp_id = d.emp_id
    </select>

    <select id="queryMeasureByOrderId" resultMap="BaseResultMap">
         select m.f_measure_check_id,m.order_id,m.check_item,m.cdate,m.measure_data,d.emp_name,m.result,m.note from final_measuret_check m
        left join employee d on m.emp_id = d.emp_id where m.order_id like CONCAT('%',#{orderId},'%')
    </select>

    <select id="queryMeasureByCheckId" resultMap="BaseResultMap">
         select m.f_measure_check_id,m.order_id,m.check_item,m.cdate,m.measure_data,d.emp_name,m.result,m.note from final_measuret_check m
        left join employee d on m.emp_id = d.emp_id where m.f_measure_check_id like CONCAT('%',#{fMeasureCheckId},'%')
    </select>

    <delete id="deleteMeasures">
        delete from final_measuret_check where f_measure_check_id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="upadteMeasure">
     update final_measuret_check set order_id = #{orderId},
                                   check_item = #{checkItem},
                                   cdate = #{cdate},
                                   measure_data = #{measureData},
                                   emp_id = #{empId},
                                   result = #{result},
                                   note = #{note}

                                   where f_measure_check_id = #{fMeasureCheckId}
  </update>
    <insert id="insertMeasure">
    insert into final_measuret_check(f_measure_check_id,order_id,check_item,cdate,measure_data,emp_id,result,note) values
   (#{fMeasureCheckId},
        #{orderId},#{checkItem},#{cdate},
        #{measureData},#{empId},#{result},
        #{note})
  </insert>
</mapper>