<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.qualitymapper.PMeasureMapper">
    <resultMap id="BaseResultMap" type="com.ssm.bean.qualitybean.P_Measure">
        <id column="p_measure_check_id" jdbcType="VARCHAR" property="pMeasureCheckId" />
        <result column="process_id" jdbcType="VARCHAR" property="processId" />
        <result column="check_item" jdbcType="VARCHAR" property="checkItem" />
        <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
        <result column="measure_data" jdbcType="VARCHAR" property="measureData" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="result" jdbcType="VARCHAR" property="result" />
        <result column="note" jdbcType="VARCHAR" property="note" />
    </resultMap>

    <select id="queryPMeasureList" resultMap="BaseResultMap">
        select m.p_measure_check_id,m.process_id,m.check_item,m.cdate,m.measure_data,d.emp_name,m.result,m.note from process_measure_check m
        left join employee d on m.emp_id = d.emp_id
    </select>

    <select id="queryPMeasureByOrderId" resultMap="BaseResultMap">
         select m.p_measure_check_id,m.process_id,m.check_item,m.cdate,m.measure_data,d.emp_name,m.result,m.note from process_measure_check m
        left join employee d on m.emp_id = d.emp_id where m.order_id like CONCAT('%',#{orderId},'%')
    </select>

    <select id="queryPMeasureByCheckId" resultMap="BaseResultMap">
         select m.p_measure_check_id,m.process_id,m.check_item,m.cdate,m.measure_data,d.emp_name,m.result,m.note from process_measure_check m
        left join employee d on m.emp_id = d.emp_id where m.p_measure_check_id like CONCAT('%',#{fMeasureCheckId},'%')
    </select>

    <delete id="deletePMeasures">
        delete from process_measure_check where p_measure_check_id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="upadtePMeasure">
     update process_measure_check set process_id = #{processId},
                                   check_item = #{checkItem},
                                   cdate = #{cdate},
                                   measure_data = #{measureData},
                                   emp_id = #{empId},
                                   result = #{result},
                                   note = #{note}

                                   where p_measure_check_id = #{pMeasureCheckId}
  </update>
    <insert id="insertPMeasure">
    insert into process_measure_check(p_measure_check_id,process_id,check_item,cdate,measure_data,emp_id,result,note) values
   (#{pMeasureCheckId},
        #{processId},#{checkItem},#{cdate},
        #{measureData},#{empId},#{result},
        #{note})
  </insert>
</mapper>